# This is a basic workflow to help you get started with Actions

name: Deploy to GitHub Pages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
 # pull_request:
 #  branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.0.2

      # Runs a set of commands using the runners shell
      - name: Build svelte
        run: |
          pnpm install
          pnpm run build
          
      - name: Update gh-pages branch
        run: |
          cd build
          git init
          git config --global user.email luthfikhoirulanwar55@gmail.com
          git config --global user.name luthfikhan
          git status
          git remote add origin https://${{secrets.COMMIT_SECRET}}@github.com/luthfikhan/cv.git
          git checkout -b gh-pages
          touch .nojekyll
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
